<div class="example-container" [class.example-is-mobile]="mobileQuery.matches">
  <mat-toolbar color="primary" class="example-toolbar" *ngIf="logged">
    <button mat-icon-button (click)="snav.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
    <h4 class="example-app-name ml-2 mt-2">Bill Book</h4>
  </mat-toolbar>

  <mat-sidenav-container class="example-sidenav-container" [style.marginTop.px]="mobileQuery.matches ? 56 : 0">
    <mat-sidenav #snav [mode]="mobileQuery.matches ? 'over' : 'side'" [fixedInViewport]="mobileQuery.matches"
      fixedTopGap="56">
      <mat-nav-list>
        <p class="text-center">
          <img src="../assets/images/IMG_20210906_095300.jpg" height="70px" class="mt-3" alt="no_res">
          <br>
          <a><b>Mugisha Finance</b></a>
        </p>
        <a mat-list-item routerLink="/borrower" (click)="snav.toggle()">Add Borrower</a>
        <a mat-list-item routerLink="/borrowers-list" (click)="snav.toggle()">Borrowers</a>
        <a mat-list-item  (click)="snav.toggle()" (click)="logout()">Logout</a>
      </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content>
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>

<!-- <div *ngIf="!shouldRun">Please open on Stackblitz to see result</div> -->


<!-- Copyright 2018 Google Inc. All Rights Reserved.
    Use of this source code is governed by an MIT-style license that
    can be found in the LICENSE file at http://angular.io/license -->
<ngx-spinner bdColor="rgba(0, 0, 0, 0.8)" size="default" color="#fff" type="square-jelly-box" [fullScreen]="true">
  <p style="color: white"> Loading... </p>
</ngx-spinner>