.bal{
    border-radius: 10px;
    background: #ff0000ba;
    color: white;
    padding: 5px;
}
.call{
    border-radius: 20px;
    color: white;
    background: #4caf50;
    text-decoration: none !important;
    text-transform: capitalize;
}